<div class="row">
    <div class="col-5">
        <div class="grid">
            <div *ngFor="let column of grid" class="column">
                <div *ngFor="let cell of column" class="cell" [ngClass]="'cell-' + cell.value">
                    {{ cell.value }}
                </div>
            </div>
        </div><br>
        <button class="btn btn-light " style="margin: 5%;" (click)="restart()"> Restart </button>

    </div>
    <div class="col-2 score">
        <h1 *ngIf="highscore>=score">Score</h1>
        <h1 *ngIf="score>highscore ">New High Score</h1> <br>
        <h1> {{score}}</h1>
    </div>
    <div class="col-5">
        <div class="leaderboard">
            <table class="table">
                <thead class="thead-rgb(172, 159, 143)" style="background-color:rgb(172, 159, 143)">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Score</th>
                    </tr>
                </thead>
                <tbody>

                    <tr *ngFor="let sco of scorelist,let i=index">
                        <th *ngIf="i<10" scope="row">{{i+1}}</th>
                        <td *ngIf="i<10">Mark</td>
                        <td *ngIf="i<10">{{sco}}</td>
                    </tr>


                </tbody>
            </table>


        </div>
    </div>
</div>